/* style.css */

body {
    font-family: "Courier Bold", Courier, Georgia, Times;
    padding: 20px;
    background-image: url("https://www.google.com/imgres?q=jerry&imgurl=https%3A%2F%2Fwallpapersok.com%2Fimages%2Fhd%2Fjerry-mouse-cartoon-illustration-pe6p94st0wlr8vdg.jpg&imgrefurl=https%3A%2F%2Fwallpapersok.com%2Fwallpapers%2Fjerry-mouse-cartoon-illustration-pe6p94st0wlr8vdg.html&docid=eJFCDu-VpShxIM&tbnid=rcfOptpe9IhMtM&vet=12ahUKEwiJ38mzrP2MAxXG6ckDHT_3NGAQM3oECHoQAA..i&w=1920&h=1080&hcb=2&ved=2ahUKEwiJ38mzrP2MAxXG6ckDHT_3NGAQM3oECHoQAA");
}

h3 {
    font-family: "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif; 
    font-size: 13px; 
    font-weight: 400; 
    line-height: 18px;

}

#feed {
    margin-top: 30px;
}

textarea {
    font-family: Rockwell, "Courier Bold", Courier, Georgia, Times;
    text-emphasis-color: #000000 ;
}

#postButton {
    color: #4587df;
    background-color: #ffffff;
    border:3px solid #4587df;
    border-radius: 10px;
}
#postButton:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #b9b9b9;
}

#userDiplayed {
    border: 2px solid #4587df;

}

#postName {
    color: #4587df;
}