<!DOCTYPE html>
<html>
<head>
    <title>JerryJabber</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/app.js" defer></script>
</head>
<body>
    <h1>JerryJabber</h1>
    <div id="userDisplayed">
        <button id="postToLogin" onclick="loginPageButton()">To Login Page</button>
        Logged in as: <strong id="username">Sigma</strong>
    </div>
    <div>
        <h3>New Jerry</h3>
        <textarea id="postInput" placeholder="Type your Jerry here"></textarea><br>
        <button id="postButton" onclick="submitPost()">Jabber</button>
    </div>
    <hr>
    <h3>Feed</h3>
    <div id="feed"></div>

    <template id="post-template">
        <div class="post">
            <p><strong id="postName" class="username"></strong>: <span class="message"></span></p>
            <small class="timestamp"></small>
            <hr>
        </div>
    </template>
    <script>
        document.getElementById("username").innerText = localStorage.getItem("username");
        function loginPageButton() {
            window.location.href = "/login"
        }

    </script>

</body>
</html>
